.nav {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    width: 100%;
    counter-reset: item 0;
    z-index: 12;
    ul {
        display: flex;
        list-style: none;
        li {
            padding: 0px 5px;
        }
    }
}