@layer reset, base, components, utilities;

@layer base {
  :root {
    // size
    --nav-height: 100px;
    --fz-xxs: 12px;
    --fz-xs: 13px;
    --fz-sm: 14px;
    --fz-md: 16px;
    --fz-lg: 18px;
    --fz-xl: 24px;
    --fz-xxl: 28px;
    --fz-heading: 32px;
    --border-radius: 4px;
    --nav-height: 100px;
    --nav-scroll-height: 70px;
    --tab-height: 42px;
    --tab-width: 120px;
    --border-radius: 4px;
    // animation
    --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    // bg colors
    --dark-green: #164a41;
    --light-green: #4d774e;
    --dark-green-shadow: #0808081c;
    // text colors
    --slate: #8892b0;
    --lightest-slate: #ccd6f6;
    --light-slate: #a8b2d1;
    --green: #01ea67;
    --shadow-green: #01ea676e;

    // gradients
    --green-slate: linear-gradient(
      337deg,
      rgba(1, 234, 103, 1) 0%,
      rgba(6, 142, 204, 1) 100%
    );
  }
}

@layer reset {
  html,
  body,
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul,
  li,
  button {
    padding: 0;
    margin: 0;
    font-family: var(--font-fira_code);
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  * {
    box-sizing: border-box;
  }

  %center {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
  }
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: var(--background-color);
}
::-webkit-scrollbar-thumb {
  background-color: var(--dark-slate);
  border: 3px solid var(--background-color);
  border-radius: 10px;
}
